<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VirtuemartContainer" connectionString="metadata=res://*/Virtuemart.csdl|res://*/Virtuemart.ssdl|res://*/Virtuemart.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=zaq12wsx;Persist Security Info=True;database=tt_probny&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>